<div class="w-full border border-neutral-700 flex flex-col gap-2 p-4 bg-neutral-900 rounded-lg shadow-lg">
    <h1 class="instrument-sans-semibold text-3xl font-bold text-neutral-100">Help</h1>
    <span class="instrument-sans-medium text-sm text-neutral-300">Kami akan membantu anda jika anda memiliki masalah atau kendala dengan situs web kami</span>
    <form class="w-full mt-4">
        <div class="mb-4">
            <label class="instrument-sans-regular block text-neutral-300 text-sm font-bold mb-2" for="help-subject">Subject</label>
            <input class="instrument-sans-medium shadow appearance-none border border-neutral-700 rounded w-full py-2 px-3 text-neutral-400 leading-tight focus:outline-none focus:shadow-outline" id="help-subject" type="text" placeholder="Enter your subject">
        </div>
        <div class="mb-4">
            <label class="instrument-sans-regular block text-neutral-300 text-sm font-bold mb-2" for="help-message">Pesan</label>
            <textarea class="instrument-sans-medium shadow appearance-none border border-neutral-700 rounded w-full py-2 px-3 text-neutral-400 leading-tight focus:outline-none focus:shadow-outline" id="help-message" rows="5" placeholder="Describe your issue"></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button class="instrument-sans-medium bg-green-600 border border-green-400 hover:bg-amber-700 text-white py-1 px-8 rounded focus:outline-none focus:shadow-outline" type="button">
                Kirim
            </button>
        </div>
    </form>
</div>
