<div class="w-full flex flex-col gap-2 p-4 bg-neutral-800 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-neutral-100">Help</h1>
    <span class="text-md font-medium text-neutral-300">We will help you if you have any problems or issues with our website</span>
    <form class="w-full mt-4">
        <div class="mb-4">
            <label class="block text-neutral-300 text-sm font-bold mb-2" for="help-subject">Subject</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="help-subject" type="text" placeholder="Enter your subject">
        </div>
        <div class="mb-4">
            <label class="block text-neutral-300 text-sm font-bold mb-2" for="help-message">Message</label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="help-message" rows="5" placeholder="Describe your issue"></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                Submit
            </button>
        </div>
    </form>
</div>